body {
    font-family: arial,Helvetica, sans-serif;
    background-color: #D36D8E;
     }

h2 {
    
    padding: 20px;
    border: 2px solid red;
    color: white;
    background-color: #75243F;

}

p {
    padding: 20px;
    border: 2px solid red;
    color: white;
    background-color: #9F4260;

}


form {
	padding: 20px;
	border: 2px solid red;
	background-color: #C04965;
}

